<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/post.css">
    <title>Post</title>
</head>

<body>
    <%- include('header');%>
    <div class="posts">
        <%- include('SideBar');%>
        <div class="postContainer">
            <div class="form-post"> 
                <h3>Post A Blog</h3>
                <form>
                    <input type="text" id='title' name='title' placeholder=" Title">
                    <input type="text" id='desc' name='description' placeholder=" Description">
                    <button type="submit">Send</button>
                </form>

            </div>
            <div class="postResulte" id='resulte'>
        <%posts.forEach(post=>{%>
            <div>
                <h4><%=post.title%></h4>
                <p><%=post.description%></p>
              
            </div>
        
                    <%})%>


              
              
            </div>
        </div>

    </div>
    
</body>
<script>
    const btn =document.querySelector('button')
    btn.addEventListener('click',(e)=>{
        e.preventDefault();
        const title=document.getElementById('title').value
        const description=document.getElementById('desc').value
        const data={
            title,
            description
        }
// console.log(data);

         fetch('/admin/post',{
            method:'POST',
            headers:{
              
              'Content-Type': 'application/json',
            },
            body:JSON.stringify(data)
        }).then((res)=>{
            return res.json();       
             
        }).then((data)=>{
          
            console.log(data);
            
        }).catch((err)=>console.log(err))
              
    })

</script>

</html>