body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.up {
  width: 400px;
  border: 1px dashed red;
  padding: 10px;
}
.searchDiv .search {
  width: 100%;
  height: 30px;
}
.all-post {
  border: 1px dashed red;
  padding: 10px;
  width: 400px;
}
.all-post a {
  text-decoration: none;
  color: blue;
  font-weight: bolder;
}
.one-post {
  border: 1px solid black;
  margin-bottom: 5px;
  display: flex;
  padding: 5px;
  /* justify-content: space-between; */
}
.image {
  border: 1px solid red;
  width: 100px;
  margin-right: 5px;
}
.bodies {
  border: 1px solid purple;
  padding: 10px;
}
.bodies p {
  margin-top: 0px;
}
